body, html {
  height: 100%;
  margin: 0;
}

.navbar{
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0px;
	background-color: rgb(75,75,75,.9);
	padding-top: 20px;
	padding-bottom: 20px;
	visibility: hidden;
}

.basketbar{
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: dimgray;
	padding-top: 20px;
	padding-bottom: 20px;
}

.navb:visited {
	color: white;
	text-decoration: none;
}

.navb:link {
  	color: white;
  	text-decoration: none;
  	font-family: 'Arvo', sans-serif;
  	border-style: solid;
  	border-width: 5px;
  	padding-top: 10px;
  	padding-right: 30px;
	padding-bottom: 10px;
 	padding-left: 30px;

}

.navb:hover{

	border-color: #d00040;
	transition: border-color 0.25s;
}

.logobox{
	height: 44px;
  	width: 80px;
  	background-color: #d00040;
  	display:inline-block;
  	padding-left: 20px;
  	margin-left: 30px;
  	padding-top: 2px;


}

.logo{
	/*text-align: sub;*/
	color: white;
	font-size: 30px;


}


.banner{
	width: 100%;  
	height: 60%;
}



.logo, .logobox, .navb{
	visibility: visible;
}




.welcome, .welcome:link, .welcome:visited{
	font-family: 'Raleway', sans-serif;
	color: white;
	padding-left: 20px;
}

.basket{
	float: right;
	padding-right: 20px;
	color: white;
	font-family: 'Raleway', sans-serif;
}


p{
	padding-left: 10px;
}

/*Search Bar*/

 .search-container {
	float: right;
  }

  .navbar input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
  }

  .navbar .search-container button {
  	color:white;
	float: right;
	padding: 6px;
	margin-top: 8px;
	margin-right: 16px;
	background:#d00040;
	font-size: 17px;
	border: none;
	cursor: pointer;
  }

  .navbar .search-container button:hover {
	background: #d00040;
	
	filter:saturate(50%) brightness(200%);
  }

  @media screen and (max-width: 600px) {
	.navbar .search-container {
	  float: none;
	}
	.navbar a, .navbar input[type=text], .navbar .search-container button {
	  float: none;
	  display: block;
	  text-align: left;
	  width: 100%;
	  margin: 0;
	  padding: 14px;
	}

	 /* map*/
	   .map {
        height: 100%;
      }
     
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
	  }
	  
	   /* endMap */
	}