body, html {
  height: 100%;
  margin: 0;
}

.navbar{
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0px;
	background-color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
	padding = 20px;
	visibility: hidden;


}

.basketbar{
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
}

.navb:visited {
	color: white;
	text-decoration: none;
}

.navb:link {
  	color: white;
  	text-decoration: none;
  	font-family: 'Arvo', sans-serif;
  	border-style: solid;
  	border-width: 5px;
  	padding-top: 10px;
  	padding-right: 30px;
	padding-bottom: 10px;
 	padding-left: 30px;

}

.navb:hover{

	border-color: #d00040;
	transition: border-color 0.25s;
}

.logobox{
	height: 48px;
  	width: 80px;
  	background-color: #d00040;
  	display:inline-block;
  	padding-left: 20px;
  	margin-left: 30px;
  	padding-top: 2px;


}

.logo{
	//text-align: sub;
	color: white;
	font-size: 30px;


}


.banner{
	width: 100%;  
	height: 60%;
}



.logo, .logobox, .navb{
	visibility: visible;
}




.welcome, .welcome:link, .welcome:visited{
	font-family: 'Raleway', sans-serif;
	color: white;
	padding-left: 20px;
}

.basket{
	float: right;
	padding-right: 20px;
	color: white;
	font-family: 'Raleway', sans-serif;
}


p{
	padding-left: 10px;
}